@import "../../assets/styles/global.scss";

.books-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    margin-top: 3.25rem;
}
