@import "../../assets/styles/global.scss";

.home {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    &__search {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        h1 {
            color: $gray-800;
            @include syne;
            font-size: 4rem;
            line-height: 4.8rem;
        }
        p {
            @include syne;
            margin-top: 1.1rem;
        }
    }
    &__explore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 2.1rem;
        hr {
            width: 22rem;
            border: 1px dashed $gray-600;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 153px;
        height: 51px;
        border: 2px solid $gray-800;
        border-radius: 10px;
        background: $yellow-500;
        padding: 1rem 1.6rem;
        @include syne;
        font-size: 1rem;
        color: $gray-800;
        transition: background-color 0.5s ease;
        &:hover {
            background-color: $orange-500;
        }
    }
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__img {
        flex: 0 0 auto;
        margin-top: 6.5rem;
        margin-left: 17.5rem;
        position: relative;
        width: 30.25rem;
        height: 31.5rem;
        &::before {
            position: absolute;
            content: "";
            z-index: -1;
            background-color: $blue-500;
            border-radius: 0px 20px 0px 20px;
            width: 100%;
            height: 100%;
            left: -7%;
            top: -7%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__trending {
        margin-top: 10rem;
        width: 100%;
        h3,
        p {
            text-align: center;
        }
        p {
            @include syne;
            color: $gray-600;
            margin-top: 0.75rem;
        }
    }
    &__slider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4rem 5.4rem;
        border: 2px dashed $gray-600;
        border-radius: 20px;
        margin-top: 2rem;
    }
    &__categories {
        margin-top: 10rem;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
        margin-top: 4.5rem;
    }
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: auto;
        h3 {
            margin-left: 0.75rem;
        }
    }
    &__category {
        margin-top: 10rem;
    }
}
@media only screen and (max-width: 1439px) {
    .content {
        &__img {
            margin-left: 2rem;
        }
    }
}
@media only screen and (max-width: 1199px) {
    .content {
        &__search {
            h1 {
                font-size: 3rem;
            }
        }
        &__explore {
            hr {
                width: 10rem;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .content {
        &__search {
            h1 {
                font-size: 2.5rem;
                line-height: 3rem;
            }
        }
        &__img {
            width: 20.5rem;
            height: 22rem;
        }
    }
}
@media only screen and (max-width: 767px) {
    .content {
        &__header {
            flex-direction: column;
            justify-content: center;
            margin-top: 6.5rem;
        }
        &__explore {
            flex-direction: column;
            hr {
                width: 80%;
                margin-top: 2rem;
            }
        }
        &__search {
            align-items: center;
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
        &__img {
            margin-top: 4rem;
        }
    }
}
@media only screen and (max-width: 419px) {
    .content {
        &__button {
            width: 18rem;
            justify-content: center;
        }
        &__icon {
            margin-left: 0.75rem;
        }
        &__explore {
            hr {
                width: 18rem;
            }
        }
    }
}
@media only screen and (max-width: 319px) {
    .content {
        &__img {
            display: none;
        }
    }
}
